[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {extras = ["torch"], version = "*"}
pandas = "*"
sentencepiece = "*"
ipykernel = "*"
datasets = "*"
huggingface-hub = "*"
matplotlib = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
