# system files
.DS_Store
**/.DS_Store

# pytorch data and models
pytorch/data
pytorch/models

# hugging face transformers
hugging-face/**

# other files and folders
**/processed/
**/text/

# enviroment variables
**/.env