# system files
**/.DS_Store

# pytorch data and models
pytorch/*/
__pycache__/

# karpathy data and models
karpathy/edu_fineweb10B_shards/
karpathy/hellaswag/
karpathy/seed_encodings/

# hugging face transformers
hugging-face/*/
**/distilbert

# enviroment
**/node_modules
**/.venv
**/.env