# python files
.venv

# system files
.DS_Store
**/.DS_Store

# other files and folders
**/processed/
**/text/

# enviroment variables
**/.env

# dependencies
**/*-lock.json

# compiled output
**/dist
**/node_modules