[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
datasets = "*"
torch = "*"
numpy = "*"
matplotlib = "*"
tiktoken = "*"
scikit-learn = "*"
torchvision = "*"
torchmetrics = "*"
mlxtend = "*"
cryptography = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
