--extra-index-url https://download.pytorch.org/whl/cu121

aiohttp==3.11.16
beautifulsoup4==4.13.4
chromadb==1.0.16
circuitsvis==1.43.3
cryptography==44.0.1
datasets==3.6.0
einops==0.8.1
hf-xet==1.1.0
huggingface-hub==0.30.2
ipykernel==6.29.5
langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-openai==0.3.30
matplotlib==3.10.1
nbformat==5.10.4
numpy==2.2.3
pandas==2.2.3
plotly==6.0.1
python-dotenv==1.1.0
seaborn==0.13.2
sentencepiece==0.2.0
tiktoken==0.9.0
torch==2.6.0
transformer-lens==2.15.4

eindex
git+https://github.com/callummcdougall/eindex.git
