[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
langchain = "*"
black = "*"
openai = "*"
google-search-results = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
